@import "tailwindcss";

:root {
  --dark: #15424e;
  --lightbg: #f4f5f3;
  --accent: #0a92a0;
}

body {
  @apply antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

/* small helper */
.card {
  @apply bg-[#071b20]/60 border border-[#1b3940]/40 rounded-xl p-6 shadow-lg;
}

/* link hover */
a {
  @apply underline-offset-4;
}
